@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
 
 box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background: rgba(245, 241, 241, 0.77);
}

button {
  border: none;
  outline: none;
  font-family: 'Open Sans', sans-serif;
}

button:focus, button:active {
  outline: none;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to right bottom, #2d3462, #006a84);
  padding-bottom: 2rem;
}

nav {
 
  display: flex;
  justify-content: center;
  padding: 0.8rem;
  font-family: 'Righteous', cursive;
  font-style: italic;
  
}


nav header {
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  padding-top: 2rem;
  font-size: 5rem;
  letter-spacing: 3px;
}

@media (max-width: 600px) {
  nav header {
    font-size: 4rem;
  }
}

nav header p {
  
  align-self: center;
  letter-spacing: 1.7px;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 5rem auto;
  text-align: center;
}

.loader svg {
  height: 5.5rem;
  width: 5.5rem;
  fill: #2b2e4a;
  transform-origin: 44% 50%;
  animation: rotate 1.5s infinite linear;
}


.bikeshop {
  font-family: 'Roboto Slab', serif;
  letter-spacing: 0.3px;
  max-width: 1230px;
  margin: auto;
  padding: 0.7rem 2rem 5rem 2rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.bikeshop .bike {
  border-radius: 5px;
  width: 350px;
  margin: 1rem;
  background: white;
  padding: 1.5rem 2rem 2rem 2rem;
  position: relative;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 2px 4px 10px #41414198;
}

.bikeshop .bike__image {
  width: 100%;
  text-align: center;
}

.bikeshop .bike__image img {
  width: 90%;
  height: 90%;
}

.bikeshop .bike__name {
  text-align: center;
}

.bikeshop .bike__name a {
  font-size: 2rem;
  text-decoration: none;
  color: black;
}

.bikeshop .bike__name a:hover {
  text-decoration: underline;
}

.bikeshop .bike__rating {
  text-align: center;
}

.bikeshop .bike__rating span {
  font-size: 1.5rem;
  padding: 10px 2px;
}

.bikeshop .bike__rating span.checked {
  color: orange;
}

.bikeshop .bike__price {
  
  display: flex;
  justify-content: center;
}

.bikeshop .bike__price p:first-child {
  font-size: 1.7rem;
}

.bikeshop .bike__price p:last-child {
  
  align-self: center;
  font-size: 1.5rem;
  margin-left: 1rem;
  color: gray;
  text-decoration: line-through;
}

.bikeshop .bike .discount__rate {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 5px 0 5px 0;
  background: #ff2e63;
  padding: 1.25rem 2rem;
  color: white;
}

.bikeshop .bike .discount__rate p {
  font-size: 1.7rem;
}

.singlebike {
  max-width: 870px;
  margin: auto;
  padding: 0.7rem 2rem 3.5rem 2rem;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 2px 4px 10px #41414198;
  border-radius: 4px;
  position: relative;
}

.singlebike .goBack {
  position: absolute;
  top: 1.5rem;
  left: 2rem;
}

.singlebike .goBack svg {
  height: 5rem;
  width: 5rem;
}

.singlebike .singlebike_img {
  max-width: 380px;
  margin: auto;
}

.singlebike .singlebike_img img {
  max-width: 100%;
}

.singlebike .singlebike_info {
  padding: 0rem 2rem 1rem 2rem;
}

.singlebike .singlebike_info .singlebike_name {
  font-size: 3rem;
  font-weight: bolder;
}

.singlebike .singlebike_info .singlebike_price {
  font-size: 2rem;
  color: #414141;
  padding-top: 3px;
  padding-bottom: 1.3rem;
  border-bottom: 1px solid #c5c5c5;
  margin-bottom: 1.25rem;
}

.singlebike .singlebike_info .singlebike_desc {
  font-size: 15px;
  line-height: 175%;
  text-align: justify;
}
