<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>The Bike Shop</title>
  <link rel="stylesheet" href="/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
  <div class="container">
    <nav>
      <header>
        <h1>The Bike Shop</h1>
      </header>
    </nav>

    <div class="bikeshop">
      <%AllMainBikes%>
    </div>
  </div>
</body>

</html>